.App {
  text-align: center;
  background-color: rgb(34, 46, 99);
  color: #cccccc;
}

.coin-table{
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.8rem;
}

.App-logo {
  height: 8rem;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  
  color: white;
}

.App-title {
  font-size: 4rem;
}

.App-link {
  color: #61dafb;
}
